// FONDOS Y DEGRADADOS

#fondoNovedades {
    background-image: url(/img/fondoinicio.png);
    background-repeat: repeat-y;
    background-size: 100%;
    height: 100%; width: 100%;
}

.fondo {
    background-color: rgb(10, 161, 10);
    background-color: linear-gradient(315deg, #95ff8e 0%, #a4d1a8 74%);
}

.fondo2 {
    background-color: #0dc423;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

#fondoMessi {
    background-color: rgb(0, 145, 12);
    position: relative;
    margin-top: -20px;
}

#fondoMessi img{
    position: relative;
    margin-top: -30px;
}

.colorVerdeSeccion {
    font-size: 30px;
    color: rgb(97, 241, 97);
    font-style: italic;
    padding: 20px;
}

#TITULO {
    font-size: 15px;
    color: $color;
    font-style: italic;
}

.precios {
    color: $color;
}
